<div class="row justify-content-between">

    <div class="col-12">
        @for (archive of loading_archive_card; track $index) {

            <div aria-hidden="true" class="card mb-3 border border-start my_css border-bottom-0
                border-5 border-primary rounded-start-pill
                border-top-0 border-end-0 "
                >
                <div class="card-body border-style d-flex justify-content-between">
                    <div class="ms-2 text-style me-auto fw-bolder text-primary" >
                        <p class="card-text placeholder-glow">
                            <span class="placeholder col-12"></span>
                        </p>
                    </div>
                    <span class="badge text-style bg-danger rounded-pill fw-bolder placeholder col-2"></span>
                </div>
            </div>
        }
    </div>
</div>
