
<section class="pt-4">
    <div class="container-fluid">
        <div class="row ">

            <div class="col-lg-6 col-sm-12 text-center ps-0 ">
                <button mat-raised-button (click)="returnBack()">
                    <mat-icon>arrow_back</mat-icon>
                    Page précédente
                </button>

            </div>
            <div class="col-lg-6 col-sm-12 text-uppercase ps-0 mb-3 text-center">
                <h1 class="px-3 mb-1 pb-0 pt-2 text-red fw-bolder rounded-1 text-uppercase" >
                    {{ current_rubrique }}
                </h1>
            </div>
        </div>
    </div>
</section>

<section class="position-relative mt-4 pt-0">
    <div class="container-fluid px-3" data-sticky-container>
        <div class="row">
            <div class="col-lg-10">
                <div class="row gy-4">

                    @for (article of article_list  | paginate: { itemsPerPage: 12, currentPage: p } ; track $index) {


                        @defer (on timer(3000)) {
                            <div  class="col-sm-6 col-lg-4">
                                <mat-card class="example-card ">
                                    <mat-card-header>
                                        <div mat-card-avatar class="example-header-image"></div>
                                        <mat-card-title>{{ article.author }}</mat-card-title>
                                        <mat-card-subtitle>{{ 'Journaliste | ' + '  ' }}  {{ article.created_at | transformDate: " dd MMMM yyyy, à HH:mm" }}</mat-card-subtitle>
                                    </mat-card-header>
                                    <a [routerLink]="['/article',article.slug]"  class="btn-link stretched-link text-reset fw-bold">
                                        <img mat-card-image [src]="article.media_url" alt="Image article quoideneuf">
                                    </a>

                                    <mat-card-content>
                                        <a [routerLink]="['/article',article.slug]"  >
                                            {{article.titre }}
                                        </a>
                                    </mat-card-content>
                                    <mat-card-actions class="d-flex justify-content-between">
                                        <span>
                                            <i class="fa fa-eye text-primary"></i> {{ article.counter }} <span>vue(s)</span>
                                        </span>
                                        <span  class="badge text-dark">
                                            @if (article.flag != null) {
                                                <img
                                                    class="rounded me-2"
                                                    [src]="article.flag"
                                                    alt="Image article quoideneuf"
                                                    style="width: 30px !important; height: 20px !important"
                                                />
                                            }
                                            @if (article.flag == null) {
                                                <i  class="fas fa-circle me-2 small fw-bold"></i>
                                            }
                                            {{ article.rubrique }}
                                        </span>
                                    </mat-card-actions>
                                </mat-card>

                            </div>
                        }@placeholder {
                            <app-news-card-placeholder />
                        }

                    }
                </div>

                <nav class="my-5" aria-label="navigation">
                    <ul class="pagination d-inline-block d-md-flex justify-content-center">
                        <pagination-controls (pageChange)="p = $event" previousLabel="Précédent"
                            nextLabel="Suivant"></pagination-controls>
                    </ul>
                </nav>
            </div>
            <div class="col-lg-2 mt-5 mt-lg-0 px-1">
                <div data-sticky data-margin-top="80" data-sticky-for="767">
                    <div>
                        <h1 class="mb-3 text-danger">Autres catégories</h1>

                        @for (other_rubrique of other_rubrique_list; track $index) {

                            <div
                                class="text-center mb-3 card-bg-scale position-relative overflow-hidden rounded">
                                <div class="bg-dark-overlay-4 p-3">
                                    <a [routerLink]="[
                                            '/category',
                                            other_rubrique.slug
                                        ]" class="stretched-link btn-link fw-bold text-white h5 text-uppercase">{{
                                        other_rubrique.rubrique }}</a>
                                </div>
                            </div>
                        }
                    </div>

                    <div class="row">
                        <div class="col-12 col-sm-6 col-lg-12 my-4">
                            <a routerLink="/" class="d-block card-img-flash">
                                <img src="assets/images/adv.png" alt="" />
                            </a>
                            <div class="smaller text-end mt-2">
                                quoideneuf
                                <a routerLink="/" class="text-muted"><u>quoideneuf.info</u></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
