
<div  data-margin-top="80" >
    <div class="">
        
        <div class="row justify-content-center">
            @for (small_card of loading_small_card; track $index) {

                <div class="col-12 px-0" >
                    <div class="card " aria-hidden="true">
                        <div class="row g-3">
                            <div class="col-4">
                                <svg class="bd-placeholder-img  placeholder-glow" width="100%" height="180" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"></rect></svg>
                            </div>
                            <div class="col-8">
                                <p class="card-text placeholder-glow">
                                    <span class="placeholder col-12"></span>

                                    <span class="placeholder col-8"></span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <hr class="my_hr my-2">
                </div>
            }
        </div>
    </div>

</div>
