<div class="row justify-content-between">

    <div class="col-12">
        @for (archive of _list_archive; track $index) {

            <div (click)="goToArchiveArticles(archive)" class="card mb-3 border border-start my_css border-bottom-0
                border-5 border-primary rounded-start-pill
                border-top-0 border-end-0 "
                style="cursor: pointer;">
                <div class="card-body border-style d-flex justify-content-between">
                    <div class="ms-2 text-style me-auto fw-bolder text-primary" >
                        {{ archive.new_date | transformDate: 'MMMM YYYY' }}
                    </div>
                    <span class="badge text-style bg-danger rounded-pill fw-bolder">{{ archive.data }}</span>
                </div>
            </div>
        }
    </div>
</div>
