.footer {
    padding-top: 1rem;
    background-image: url('../../../assets/bg_img_footer.jpg');
    background-repeat: no-repeat;
    background-size: cover;

}
.contact-box {
    position: relative;
}


.contact-box__icon {
    width: 2rem !important;
    stroke: #fff;
    padding-top: 0.5rem;
}
@media (min-width: 576px){
    .contact-box__info--title {
        font-size: 1.4rem;
    }
}

.contact-box__info--title {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
}

.fab-button {
    position: fixed;
    bottom: 10px;
    right: 10px;
}
